<footer class="footer">
    <small>
        The <%= link_to "Ruby on Rails Mini Blog", root_path %>
    by <a href="https://vk.com/zibog">Dmitry Sidak</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="#">News</a></li>
        </ul>
    </nav>
</footer>